<%- include('../imports/header') %>
<body>
    <div class="header">
        <p class="contact">Contact Me</p>
        <br>
        <a href="https://github.com/OfficiallyLost">
            <button class="github"><b>GitHub</b><br>OfficiallyLost</button>
        </a>
        <a href="https://www.snapchat.com/add/hchs.1?share_id=RTYxRkU5MDYtRUJFRS00QTI3LTg3MDQtMkRFRDkxRDA5NEQ5&locale=en_GB">
            <button class="snapchat"><b>Snapchat</b><br>Hchs.1</button>
        </a>
        <a href="https://discord.com/users/920400762276823090/">
            <button class="discord"><b>Discord</b><br>Hairy Ass#7902</button>
        </a>
    </div>
    <h1 class="title">Just A Random ChatApp</h1>
    <div class="body">
        <a href="/chat">
            <button class="chat">Start Chatting!</button>
        </a>
    </div>
</body>

<style>
    body {
        text-align: center;
    }
    
    .title {
        color: #E3E3E1;
        margin-top: 5%;
    }
    
    .contact {
        color: white;
        margin-bottom: 1%;
    }
    button {
       background-color: #E3E3E1;
       color: #1E1E1C 
    }
    
    .header {
        background-color: #1C1C1C;
        padding-right: 10px;
    }
</style>